services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-app:latest
    container_name: my-app
    ports:
      - "3000:8080"
    depends_on:
      - db # db 먼저 실행한 후 앱 실행
    environment:
      - NODE_ENV=production
      - DATABASE_URL=
    restart: always

  db:
    image: postgres:15-alpine
    container_name: myapp-db
    restart: always
    environment:
      - POSTGRES_USER=
      - POSTGRES_PASSWORD=
      - POSTGRES_DB=
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: